/*  Color References
green #79b044;
salmon #dd5638;
blue gray: #3e4249;

*/

/* ====GENERAL ====*/

body    {
    margin-top: 50px;
    font-family: 'proxima-nova', 'Raleway', Helevetica, sans-serif;
    font-size: 16px;
    background: url('../img/tile.jpg') top left repeat;
}



/*===  GLOBAL ===*/
h1,h2,h3,h4,h5,h6   {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-weight: bold;
}

h1  {
    font-size: 3em;
}

h1,h2   {
    margin: 0 0 40px;
}

h3  {
    margin: 20px 0;
}

h4  {
    font-size: 18px;

}
h2{
    margin-top:25px;
    font-size:30px;
}

.btn    {
    font-weight: bold;
}
.btn-danger {
    background-color: #dd5638;
    border-collapse: #d95131;
}

/* ===HERO=== */

#hero{
    background: url('../../assets/img/hero-bg.jpg') 50% 0 repeat fixed;
    min-height: 500px;
    padding: 40px 0;
    color: white;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;

}

#hero article   {
    width: 100%;
    text-align: center;
}
.hero-text   {
    margin-top: 30px;
    

}

#price-timeline {
    margin:  30px 0 60px;
    text-align: center;

}

#price-timeline .price  {
    display: inline-block;
    margin: 0 2% 0 0;
    width: 30%;
    background: #3e4249;
    padding: 10px 20px 30px;
    position: relative;
    vertical-align: top;

}

#price-timeline .price.active   {
    background: #dd5638;
    white-space: nowrap;
}

#price-timeline .price span {
    background: #101010;
    display: block;
    height: 70px;
    width: 70px;
    text-align: center;
    line-height: 70px;
    font-weight: bold;
    font-size: 24px;
    border-radius: 100%;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    position: absolute;
    
    left: 50%;
    margin-left: -35px;
}


#price-timeline h4 {
    margin: 0 0 0 10px;

}

#price-timeline h4 small    {
    color: white;
    font-weight: bold;
    display: block;
}
#optin{
    background: #3e4249;
    padding: 18px 15px 0;
    color: #fff;
    font-size: 1.2em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing:antialiased;
    button{
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing:antialiased;
        margin-bottom: 12px;
    }
    .lead{
        margin-top:7px;
        margin-bottom: 10px;
    }
}
#boost-income{
    padding: 50px 0;
   
    .head-income{
        text-align: center;
        margin-bottom:50px;
    }
    h2{
        margin: 20px 0;
    }
    h3{
        margin: 12px 0;
    }
    .content-income{
        .lead{
            margin-bottom: 30px;
        }
    }
}
#benefit{
    margin-top:30px;
    .header-benefit{
        text-align:center;
       h2{
           margin-top:25px;
           font-size:30px;
       }
    }
    .content-benefit{
        margin-top: 15px;
        h3{
            margin-top:20px;
            margin-bottom:15px;
        }
    }
}
#course-features{
    background: #3e4249;
    text-align: center;
    color:#fff;
    padding: 25px 0;
    margin-bottom: 20px;
    .header-feature{
        h2{
           margin-top:25px;
           font-size:30px;
       }
    }
    .content-feature{
        .ci{
            display: inline-block;
            width:40px;
            height: 40px;
            background: url('../../assets/img/icon-sprite.png') no-repeat;
        }
        .ci-watch{
                background-position: -40px 0;
        }
        .ci-calendar{
                background-position: -80px 0;
        }
        .ci-community{
                background-position: -120px 0;
        }
        .ci-instructor{
                background-position: -160px 0;
        }
        .ci-device{
                background-position: -200px 0;
        }
    }
}
#final-project{
    text-align: center;
    .row{
        h2{
            margin-bottom: 10px;
        }
    }
}
#featurettes{
    background: url('../../assets/img/stuff-bg.jpg') repeat 50% 100% fixed;
    background-size:cover;
    text-align: center;
    color:#fff;
    padding-bottom: 20px;
}
#instructor{
    background: url('../../assets/img/brad-elvis.png') no-repeat 100% -10px;
    padding-bottom: 30px;
    .badge{
            width: 40px;
            height: 40px;
            border-radius:50%;
            background: #b3b3b3;
            line-height: 37px;
            margin-top: 20px;
            margin-right: 5px;
            font-size:20px;
            color:white;
    }
    .facebook:hover{
        background: #3b5998;
    }
    .twitter:hover{
        background:#4099ff;
    }
    .google:hover{
        background:#db4b39;
    }
    .num{
        width: 150px;
        height: 150px;
        display: inline-block;
        border-radius:50%;
        background:#e62e00;
        color:#fff;
        padding: 45px 0;
        text-align: center;
        margin: 0px 20px;
        h5{
            font-weight: bold;
            font-size:30px;
            white-space: nowrap;
            margin-bottom: -3px;
        }
    }
    .bottom-instructor{
        margin-bottom: -25px;
    }
}
#testimonial{
    background: #ccc;
    padding-bottom: 30px;
    .testimonial-er{
        margin: 30px 0;
        blockquote{
            border:none;
            text-align: left;
            font-style: italic;
            cite{
                display: block;
                text-align: center;
                margin-top: 5px;
            }
        }
        img{
            margin-top: 10px;
        }
    }
}
#sign_up{
    background: url('../../assets/img/hipster-stuff.jpg') center center no-repeat fixed;
    background-size: cover;
    text-align: center;
    color: #fff;
    padding: 120px 0;
    h2{
        font-weight: normal;
        strong{
            border-bottom: 2px solid orange;
        }
    }
}
footer{
    background: #3e4249;
    padding: 20px 15px 0;
    color: #Fff;
    a{
        color:#fff;
        text-decoration: none;
        &:hover{
        color:#dd5638;
        text-decoration: none;
        }
        &:visited,&:focus{
        color:#fff;
        text-decoration: none;
        }
    }
    .signup-link{
        a{
            color:#dd5638;
            &:hover{
                font-weight: bold;
            }
        }

    }
}
/* -------------------------BLOG----------------------- */

#content{
    padding: 10px 0;
    .post{
        border: 2px solid #ddd;
        margin: 20px 10px;
        border-radius:4px;
        padding-top: 20px;
        -webkit-border-radius:4px;
        -moz-border-radius:4px;
        position: relative;
         background: #fff;
    }
    .post-detail,.post-excerpt{
        width:90%;
        margin: auto;
        padding: 15px 0px;
        .glyphicon{
            margin-right: 17px;
            font-size: 14px;
        }
        .post-badge-comment{
            border-radius:100%;
            -webkit-border-radius:100%;
            -moz-border-radius:100%;
            width:50px;
            height:50px;
            position: absolute;
            top: 25px;
            right: 20px;
            background-color:#79b004;
            display: table;
            text-align:center;
            span{
                display: table-cell;
                line-height: 50px;
            }
        }
    }
    .post-title{
        border-bottom: 3px solid #ccc;
        width: 90%;
        margin:auto;
        a{
            color:#ef8e3e;
        }
    }
}

.sidebar{
    .widget{
        margin: 15px 0;
        background: #fff;
        padding: 15px;
        box-sizing: border-box;
        h4{
            border-bottom: 2px solid #ccc;
            padding-bottom: 7px;
        }
        input{
            width: 100%;
            border-radius: 5px;
            -webkit-border-radius:5px;
            -moz-border-radius:5px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            padding: 5px;
        }
        ::-webkit-input-placeholder{
            opacity: 0.5;
            color: #000;
        }
    }

}      


#feature-image-default-alt{
    background: url('../../assets/img/hipster-stuff.jpg') center center no-repeat fixed;
    background-size: cover;
    margin:0;
    height: 150px;
    padding-top: 40px;
} 



/*=================Post And Comment ================*/
.comment{
    padding: 15px;
    background: #fff;
    h3{
        text-align:center;
        font-size: 18px;
    }
    ol{
        background:#fff;
        list-style: none;
        li{
            padding: 12px 7px 12px 10px;
            border-radius:5px;
            -webkit-border-radius:5px;
            -moz-border-radius:5px;
            ol li{
                padding: 12px 7px 12px 10px;
                border-radius:5px;
                -webkit-border-radius:5px;
                -moz-border-radius:5px;
            }
        }
        
        ol{
            background: rgba(0,0,0,0.04);
            padding-right: 5px;
        }
        .comment-main{
            margin-bottom: 15px;
            background: #e6eaf2;
        }
    }
}
.leave-comment{
    div{
        margin-bottom: 12px;
        label{
            display: block;
        }
        input,textarea{
            width: 100%;
            border-radius: 5px;
            -webkit-border-radius:5px;
            -moz-border-radius:5px;
            border:2px solid #ccc;
        }
    }
    input[type=submit]{
           margin: 5px 50%;
        }
}


/* ==================Resources =====================*/
.logo-resources{
    background: url('../../assets/img/stuff-feature.jpg') no-repeat fixed;
    height: 150px;
    text-align: center;
    color:#fff;
    padding-top: 45px;
}
.resources-content{
    background-color: rgba(204,204,204,0.3);
    padding: 90px 0;
    .head-resources-content{
        margin-bottom: 40px;
        p{
            margin-bottom: 25px;
            font-size: 18px;
            font-family: Arial, sans-serif;
        }
    }
    .resources{
        margin-bottom: 20px;
        img{
            margin-bottom: 15px;
        }
        h3{
            color:rgb(229, 114, 43);
            margin-bottom: 11px;
            font-weight: bold;
            font-size: 25px;
        }
        p{
            margin-bottom: 14px;
        }
    }
}

/*====================Contact===================*/
#form-contact{
    background: rgba(204,204,204,0.3);
    padding: 70px 0;
    .contact{
        line-height: 1.3em;
        
        input[type=email], input[type=text]{
            width: 100%;
            margin-bottom: 10px;
            padding: 8px;
            border:1px solid #ccc;
        }
        ::-webkit-input-placeholder{
            opacity:0.5;
        }
        textarea{
            width: 100%;
            padding: 9px 0 0 9px;
            border-radius: 5px;
            margin-bottom: 8px;
        }
        input[type=button]{
            float: right;
            opacity: 1;
        }
    }
}


/*====================Responsive ===================*/
@media(max-width : 991px){
    #instructor .container{
        background: rgba(255,255,255,0.8);
        padding: 20px;
    }
}
@media(max-width:768){
     .logo{
        width:50%;
    }
    #instructor .container{
        background-color: rgba(255,255,255,0.8);
        padding: 20px;
    }
    #featurettes .container .row iframe{
        height: 240px;
        width: 300px;
    }
}
@media(max-width: 568px){
    #instructor .container .row .num{
        width: 70px;
        height: 70px;
        text-align: center;
        margin: 10px 20px;
        padding: 0;
       div{
           padding-top: 15px;
       }
        h5,p{
            font-size: 12px;
        }
    }
}



































    
